<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="es-es" />
		<title>{% block title %}Project Manager{% endblock %}</title>
		<meta name="ROBOTS" content="ALL" />

		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" />
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		
		<link rel="stylesheet" href="/static/ProjectManager/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/static/ProjectManager/css/bootstrap-responsive.min.css" type="text/css" />
		<script src="/static/ProjectManager/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="/static/ProjectManager/css/style.css" type="text/css" />
		{% block header %}{% endblock %}
	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>