{% extends "ProjectManager/base.html" %}

{% block content %}
<div class="container-fluid">

	<div class="row-fluid" >
		<div class="span12"></div>
	</div><div class="row-fluid" >
		<div class="span12"></div>
	</div>

	<div class="row-fluid">
		<div class="span8 offset2 back c-soft-grey">
			<div class="hero-unit">
				<h1>Project Manager</h1>
				<p>
					Wellcome to the project Manager App.<br/>
					The place where ideas become success.<br/>
					What are you waiting for!?
				</p>
				<p>
					<a class="btn btn-primary btn-large"> Get In </a>
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
