.back{
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.back.c-soft-grey{
  background-color: #eeeeee;
}

.back.c-soft-blue{
  background-color: #C1C1FF;
}

.back.c-blue{
  background-color: #A6A6ED;
}
