{% extends "base.html" %}

{% block content %}
    <h1><span style="color:#08a5ff;">Logeate</span> para tener acceso a todas las funcionalidades</h1>
    <div class="dotted_line"></div>
	<!-- Begin content -->
    <div id="content">
		<div id='bottom_content_mid_coloumn' style='float:left; width:25%;margin-left:10%;margin-bottom:30px'>
   		  <h2>User</h2>
				<form action="user_verify.php" method=post>
				<input name="user" type="text" size="29" />
	    </div>
        <div id='bottom_content_mid_coloumn' style='float:left; width:25%;margin-left:2.5%;margin-bottom:30px'>
		  <h2>Password</h2>
                <input name="password" type="password" size="29" />
        </div>
		
		<div id='bottom_content_mid_coloumn' style='float:left; width:25%;margin-left:2.5%;margin-bottom:30px'>
    				<input name="submit" type="submit" class="submit_button" value="Enviar" style='margin-top:17px;float:right'/>
					<input name="reset" type="reset" class="reset_button" value="Limpiar"   style='margin-top:13px;float:right'/>
        </div>
					
                </form>
   	 	</div>
    <div class="clear"></div>
	<div class="dotted_line"></div>
    <!-- End content -->

{% endblock %}