{% extends "EtCaterva/base.html" %}

{% block content %}
    <h1>Por favor, <span style="color:#08a5ff;">contactanos</span>! Hablaremos sobre tus necesidades.</h1>
    <div class="dotted_line"></div>
	<!-- Begin content -->
    <div id="content">
		<div id="contact_us_left_coloumn">
		{% if not sent %}
   		  <h2>Contacta con nosotros</h2>
            <p>Aqui buscamos el contacto con los usuarios. Por ello, si tienes alguna peticion o sugerencia, no dudes en hacernosla llegar. En Etcaterva.com mejoramos gracias a ti.
            Para ellos ponemos a tu disposicion un formulario mediante el cual contactar con nosotros. Te responderemos en cuanto nos sea posible.
            </p>
            <form action="/contact" method="post">
            	<table>{% csrf_token %}
			{{form.as_table}}
				</table>
			<input type="submit" value="Enviar" />
			</form>
			<br />
		{% else %}
		  <h2>Contacta con nosotros</h2>
		  <p>Gracias, el mensaje se ha enviado correctamente, responderemos tan pronto como sea posible!</p>
		{% endif %}
   	 	</div>
    	<div id="contact_us_right_coloumn">
    		<h2>Quienes somos?</h2>
            <p>Somos <b>EtCaterva</b>, grupo de creacion software. Sientete libre de contactar con nosotros!</p>
            <p class="vCard">
            	<img src="/static/images/icons/ico_male.png" width="16" height="16" alt="John Doe" /> <b>EtCaterva, SG</b><br />
            	<img src="/static/images/icons/ico_home.png" width="16" height="16" alt="Address" /> Avenida de la universidad, Caceres<br />
            	<img src="/static/images/icons/ico_mail.png" width="16" height="16" alt="Email" /> <a href="admin@etcaterva.com">admin@etcaterva.com</a>
            </p>
            <div class="dotted_line_short"></div>
            <h2>Nuestra localizacion</h2>
            <img src="/static/images/map.png" width="280" height="400" alt="Map" class="map" />
    	</div>
    </div>
    <div class="clear"></div>
	<div class="dotted_line"></div>
    <!-- End content -->

{% endblock %}