{% extends "EtCaterva/base.html" %}

{% block content %}
    <div class="clear"></div>
    <!-- Begin bottom content -->
    <div id="bottom_content">
		<div id="bottom_content_left_coloumn">
			<h2>Detalles</h2>

				<b>Nombre:</b>{{project.titulo}}<br>
				<b>Desde:</b>{{project.fecha}}<br>
				<b>Visitas:</b>{{project.visitas}}<br>
				{%if project.usuarios.count == 1 %}
					<b>Autor: </b>
				{% else %}
					<b>Autores: </b>
				{% endif %}
				{% for aUser in project.usuarios.all %}
					<a href="/user/{{aUser.id}}">{{aUser.baseUser.username}}</a>, 
				{% endfor %}
				<br>
				<b>Enlace:</b> <a href="{{project.link}}">{{project.link}}</a><br>
				<b>Descripcion:</b>{{project.descripcion}}<br>
				</div>
				<div id='bottom_content_mid_coloumn'>
				<h2>Capturas</h2><img src='/media/{{project.image}}'/>
			</div>
      	</div>

    <!-- End bottom content -->

    <div class="clear"></div>
	<br><br><br><br><br><br>
    <div class="dotted_line"></div>
{% endblock %}