{% extends "EtCaterva/base.html" %}
{% load thumbnail %}
{% load url from future %}
{% block content %}
    <h1>Estos son los miembros de nuestro equipo, conocelos!.</h1>
    <div class="dotted_line"></div>
    <!-- Begin top content -->
  	<div id="top_content">
  		<div id="top_content_portfolio">

	  		<h2>Equipo EtCaterva</h2>
            <table border="0" cellspacing="8">
            {% for usuario in user_list %}
            	{% if forloop.counter|divisibleby:"5"  %}
            		<tr>;
            	{% endif%}
				<td width='176' valign='top'><a href="{% url 'etCaterva/user' usuario.id %}" class='zoom'>
				<img src='{% thumbnail usuario.profilePicture 176x100 crop %}' alt='{{usuario.username}}' border='0' />
				</a><br />{{usuario.baseUser.username}}, <strong>{{usuario.baseUser.date_joined.year}}</strong><br />
				{% if forloop.counter|divisibleby:"5"  %}
            		</tr>;
            	{% endif%}
    		{% endfor %}  	

</table>
  	  </div>
  	</div>
    <!-- End top content -->
    <div class="clear"></div>
    <div class="dotted_line"></div>
    <!-- Begin bottom content -->
    <div id="bottom_content">

    	<div id="bottom_content_left_coloumn_latest_projects">
        	<h2>Ultimos Usuarios</h2>
        	{% for usuario in footer_user_list %}
				<a href="{% url 'etCaterva/user' usuario.id %}" title='{{ usuario.username }}'>
				<img src='{% thumbnail usuario.profilePicture 88x88 crop %}' width='88' height='88' alt='{{ usuario.username }}' border='0' /></a>
    		{% endfor %}
        </div>
		<div id="bottom_content_mid_coloumn">
        	<h2>Contacta</h2>
            <img src="/static/images/blockquote.png" width="40" height="33" alt="Blockquote" /><p>No dudes en contactar con el equipo si tienes cualquier duda o sugerencia!<br /><span class="name">EtCaterva, Grupo Software</span></p>
      	</div>
		<div id="bottom_content_right_coloumn">
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 30000,
  width: 300,
  height: 170,
  theme: {
    shell: {
      background: '#adadad',
      color: '#000000'
    },
    tweets: {
      background: '#ffffff',
      color: '#000000',
      links: '#00d9ff'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('EtCaterva').start();
</script>

    </div>
    <!-- End bottom content -->
    <div class="clear"></div>
    <div class="dotted_line"></div>
{% endblock %}    