{% extends "EtCaterva/base.html" %}
{% load thumbnail %}
{% block content %}
	<style type="text/css">
	#box{width:180px;border:1px solid #000;height:17px;}
	#bar{background:url("/static/images/bar.png");height:14px;color:#000;text-align:right;padding:3px 0px 0px 0px;}
	</style>	
    <div class="clear"></div>
    <!-- Begin bottom content -->
    <div id="bottom_content">
		<div id="bottom_content_left_coloumn">
			<br><br>
			<table border="0">
					
				<tr><td align='right' colspan='4'><img src='{% thumbnail usuario.profilePicture 250x250 crop %}' border='0' align='center'/>
				<tr><td colspan='4'><h2>Participacion</h2></td></tr>


				<tr><td>Proyectos<td colspan='3'>
				<div id='box'>
						<div id='bar' style='width: {{pProyectos}}%;'>{{pProyectos}}%</div>
						</div>
						
				<tr><td>Visitas<td colspan='3'>
				<div id='box'>
						<div id='bar' style='width: {{pVisitas}}%;'>{{pVisitas}}%</div>
				</div>
				
				
				<tr><td colspan='4'><h2>Links</h2><tr>
				{% if usuario.facebook %}
					<td><a target='blank' href='{{usuario.facebook}}'><img src='/static/images/icons/facebook_32.png' width='28' height='28' alt='Facebook icon' border='0' /></a>
				{% endif %}
						
				
				{% if usuario.linkedin %}
					<td><a target='blank' href='{{usuario.linkedin}}'><img src='/static/images/icons/linkedin_32.png' width='32' height='32' alt='Linked in icon' border='0' /></a>
				{% endif %}
				
				{% if usuario.twitter %}
					<td><a target='blank' href='{{usuario.twitter}}'><img src='/static/images/icons/twitter_32.png' width='28' height='28' alt='Twitter icon' border='0' /></a>
				{% endif %}		
				</table></div>
				
				
				<div id='bottom_content_mid_coloumn'>
				<h2>{{usuario.baseUser.username}}</h2>

				
				<table border='0' cellpadding='5' cellspacing=''>
				<tr><td align='right'><b>Nombre:</b><td>{{usuario.baseUser.first_name}}
				<tr><td align='right'><b>Apellidos:</b><td>{{usuario.baseUser.last_name}}
				<tr><td align='right'><b>Edad:</b><td>{{edad}}
				<tr><td align='right'><b>F. Ingreso:</b><td>{{usuario.baseUser.date_joined.date}}
				<tr><td align='right'><b>F. Nacimiento:</b><td>{{usuario.birthDate}}
				<tr><td colspan='2' align='center'><b>Descripcion:</b>
				<tr><td colspan='2'>{{usuario.description}}
				</table>
				</div>
				<div id='bottom_content_right_coloumn'>
					<h2>Estadisticas</h2>
					<table border='0' cellpadding='5' cellspacing=''>
					<tr><td align='right'><b>Num. Proyectos:</b><td>{{proyectos.count}}
					<tr><td align='right'><b>Num. Noticias:</b><td>{{noticias.count}}
				<tr><td align='right'><b>Ultima Noticia:</b><td>{{noticias.0.titulo}}	
				<tr><td align='right'><b>Ultimo Proyecto:</b><td><a href='/project/{{proyectos.0.pk}}'> {{proyectos.0.titulo}}</a>
				<tr><td align='right'><b>Fecha Ult. Proyecto:</b><td>{{proyectos.0.fecha|date:"d M Y"}}
				<tr><td align='right'><b>Proyecto mas visitado:</b><td><a href='/project/{{proyectosV.0.pk}}'>{{proyectosV.0.titulo}}</a>
				<tr><td colspan='2' align='center'><b>Proyectos:</b>
					<tr><td colspan='2'>
				{% for aProj in proyectosV %}
					<a href='/project/{{aProj.pk}}'> {{aProj.titulo}}</a>, 
				{% endfor %}
				{% if 	user.is_authenticated %}
					<tr><td colspan='2' align='center'><b>KeyWords:</b>
						<tr><td colspan='2'>
					{% for aKW in usuario.keyWords.all %}
						{{aKW.word}}, 
					{% endfor %}		
				{% endif %}					
				
			</table>
		</div>
    </div>

    <!-- End bottom content -->
    <div class="clear"></div>
	<br><br><br><br><br><br>
    <div class="dotted_line"></div>
{% endblock %}